{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block blockname %}
 
{% if messages %}  
{% for i in messages %}
<h4>{{i}}</h4>
{% endfor %} {% endif %}

 



<style>
  .input-group-text{
    float: right;
    margin-right: 50px;
    margin-top: -45px;
    position: relative;
    z-index: 2;
    font-size: 30px; /* Adjust this value as needed */
    width: 25px; /* Adjust this value as needed */
    height: 25px; /* Adjust this value as needed */
    

  }



  

  .reightdiv2{
    width: 95%;
    margin: auto;
    background-color: rgb(134, 190, 190);
    padding-top: 100px;
    border-radius: 20px;
    padding-bottom: 50px;
  
  
  }
  .reightdiv{
    
    padding-top: 100px;
    padding-bottom: 100px;
  
  }
  .reightdiv2h1{
    font-weight: 700;
  }
  .registerform{
    width:90%;
    padding-top: 20px;
    padding-left: 20px;
    margin: auto;
  
  }
  
  .textfl{
    padding: 10px;
  }
  
  .textname{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(4, 124, 133);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
  }
  
  .textname:hover{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(4, 124, 133);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
  }
  
  .textnamepass{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: rgb(4, 124, 133);
    color: white;
    border: none;
    border-top-right-radius: 10px;
  }
  .textnamepass:hover{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: rgb(4, 124, 133);
    color: white;
    border: none;
    border-top-right-radius: 10px;
  }
  .texth14{
    padding-left: 70px;
  }
  
  
  
  .input-group-text{
    background-color: rgb(134, 190, 190);
    border: none;
  }
  
  .form-check{
    padding-top: 15px;
    padding-left: 40px;
  }
  
  .form-check-label{
    font-size: 23px;
    padding-left: 15px;
    font-weight: 600;
  }
  input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 25px;
    height: 25px;
    border: none;
  }
  .registerbtn{
    font-size: 30px;
    text-align: center;
    background-color: rgb(17, 105, 121);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
  
  }
 
  .registerbtndiv{
    padding-top: 26px;
    text-align: center;
    
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 20px;
   font-weight: 500;
  }
  
  .already{
    padding-top: 30px;
    text-align: center;
  }




  </style>
  
  
  


  <!-- media query css code  -->

  <style>

    @media (min-width: 300px) and (max-width: 450px){

      .reightdiv2{
        width: 100%;
        margin: auto;
        background-color: rgb(134, 190, 190);
        padding-top: 30px;
        border-radius: 15px;
        padding-bottom: 50px;
      
      
      }
      .reightdiv{
        
        padding-top: 20px;
        padding-bottom: 50px;
      
      }
      .reightdiv2h1{
        font-weight: 700;
        font-size: 25px;
      }
      .registerform{
        width:100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 5px;
        margin: auto;
      
      }
      
      .textfl{
        padding: 5px;
      }
      
      .textname{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-color: rgb(4, 124, 133);
        color: white;
        border: none;
        font-size: 17px;
        font-weight: 500;
      }
      
      .textname:hover{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-color: rgb(4, 124, 133);
        color: white;
        border: none;
        font-size: 17px;
        font-weight: 500;
      }
      
      .textnamepass{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-color: rgb(4, 124, 133);
        color: white;
        border: none;
        font-size: 17px;
        font-weight: 500;
      }
      .textnamepass:hover{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-color: rgb(4, 124, 133);
        color: white;
        border: none;
        font-size: 17px;
        font-weight: 500;
      }
      .texth14{
        padding-left: 20px;
      }
      
      
      
      .input-group-text{
        background-color: rgb(134, 190, 190);
        border: none;
      }
      
      .form-check{
        padding-top: 15px;
        padding-left: 40px;
      }
      
      .form-check-label{
        font-size: 23px;
        padding-left: 15px;
        font-weight: 600;
      }
      input[type=checkbox] {
        margin: 4px 0 0;
        line-height: normal;
        width: 18px;
        height: 18px;
        border: none;
      }
      .registerbtn{
        font-size: 20px;
        text-align: center;
        background-color: rgb(17, 105, 121);
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        border: none;
      
      }
     
      .registerbtndiv{
        padding-top: 26px;
        text-align: center;
        
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
       font-size: 20px;
       font-weight: 500;
      }
      
      .already{
        padding-top: 20px;
        text-align: center;
      }


      .reightdiv{
        flex: none;
        width: 100%;
      }

      .regexp{
        font-size: 20px;
        color: rgb(32, 5, 59);
      }



    
      .lebeltext{
        font-size: 14px;
        padding-left: 15px;
      }

      .alreadyaccount{
        font-size: 15px;
      }

      .input-group-text{
        float: right;
        margin-right: 30px;
        margin-top: -35px;
        position: relative;
        z-index: 2;
        font-size: 20px; /* Adjust this value as needed */
        width: 25px; /* Adjust this value as needed */
        height: 25px; /* Adjust this value as needed */
        
  
      }


    }

  </style>


  
  <div class="registerfulldiv">
    <div class="registerdiv2">
      <div class=" w-50  m-auto reightdiv">
        <div class="reightdiv2">
          <div class="texth14">
            <h1 class="reightdiv2h1">Hello There,</h1>
            <h4 class="regexp">Register now to explore more</h4>
          </div>
          <div class="registerform">
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="col textfl">
                  <input type="text" class="form-control textname" placeholder="First name" name="{{ form.first_name.name }}">
                  {% if form.first_name.errors %}
                    <div class="alert alert-danger">
                      {{ form.first_name.errors|join:", " }}
                    </div>
                  {% endif %}
                </div>
                
                <div class="col textfl">
                  <input type="text" class="form-control textname" placeholder="Last name" name="{{ form.last_name.name }}">
                  {% if form.last_name.errors %}
                    <div class="alert alert-danger">
                      {{ form.last_name.errors|join:", " }}
                    </div>
                  {% endif %}
                </div>
                
                <div class="form-group textfl">
                  <input type="email" class="form-control textname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name ='{{ form.email.name }}'>
                  {% if form.email.errors %}
                    <div class="alert alert-danger">
                      {{ form.email.errors|join:", " }}
                    </div>
                  {% endif %} 
                </div>

                <div class="form-group textfl">
                  <input name="{{ form.password1.name }}"  type="password" value="" class="form-control textnamepass" id="password" placeholder="Password" required="true" aria-label="Password" aria-describedby="basic-addon1" />
                  <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide();" style="background-color: transparent; border: none;">
                      <i class="fas fa-eye showeyes" id="show_eye"></i>
                      <i class="fas fa-eye-slash d-none showeyes" id="hide_eye"></i>
                    </span>
                  </div>
                  {% if form.password1.errors %}
                    <div class="alert alert-danger">
                      {{ form.password1.errors|join:", " }}
                    </div>
                  {% endif %}
                </div>
                
                <div class="form-group textfl">
                  
                  <input name="{{ form.password2.name }}"  type="password" value="" class="form-control textnamepass" id="password1" placeholder="Password" required="true" aria-label="Password" aria-describedby="basic-addon1" />
                  <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide1();" style="background-color: transparent; border: none;">
                      <i class="fas fa-eye showeyes" id="show_eyes"></i>
                      <i class="fas fa-eye-slash d-none showeyes" id="hide_eyes"></i>
                    </span>
                  </div>
                  {% if form.password2.errors %}
                    <div class="alert alert-danger">
                      {{ form.password2.errors|join:", " }}
                    </div>
                  {% endif %}
                </div>
  
  
  
              <div class="form-check">
                <input type="checkbox" class="form-check-input checkboxsize" id="exampleCheck1">
                <label class="form-check-label lebeltext" for="exampleCheck1">I agree toTerms and conditions</label>
              </div>
              <div class="registerbtndiv"> 
                <button type="submit" class=" registerbtn ">Register</button>
              </div>
              <div class=" already">
                <h4 class="alreadyaccount">Already have a account? <a href="{% url 'loginpage' %}"> Log in</a></h4>
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- passwrod eye  js  -->
  
  <script>
    function password_show_hide() {
      var x = document.getElementById("password");
      var show_eye = document.getElementById("show_eye");
      var hide_eye = document.getElementById("hide_eye");
      hide_eye.classList.remove("d-none");
      if (x.type === "password") {
        x.type = "text";
        show_eye.style.display = "none";
        hide_eye.style.display = "block";
      } else {
        x.type = "password";
        show_eye.style.display = "block";
        hide_eye.style.display = "none";
      }
    }
  </script>
  
  <script>
    function password_show_hide1() {
      var y = document.getElementById("password1");
      var show_eyes = document.getElementById("show_eyes");
      var hide_eyes = document.getElementById("hide_eyes");
      hide_eyes.classList.remove("d-none");
      if (y.type === "password") {
        y.type = "text";
        show_eyes.style.display = "none";
        hide_eyes.style.display = "block";
      } else {
        y.type = "password";
        show_eyes.style.display = "block";
        hide_eyes.style.display = "none";
      }
    }
  </script>

  <!-- select course js code -->

  
  <script>
    // Get the select element
    const selectElement = document.getElementById('id_course');
  
    // Function to handle focus event
    function handleFocus() {
      // Change background color back to rgb(4, 124, 133) when focused
      selectElement.style.backgroundColor = 'rgb(4, 124, 133)';
      selectElement.style.color = 'white'; // Change text color to white when focused
    }
  
    // Function to handle blur event
    function handleBlur() {
      // Change background color to white when focus is lost
      selectElement.style.backgroundColor = 'white';
      selectElement.style.color = 'rgb(26, 59, 64)'; // Reset text color to initial color
    }
  
    // Add event listeners for focus and blur events
    selectElement.addEventListener('focus', handleFocus);
    selectElement.addEventListener('blur', handleBlur);
  </script>



{% endblock blockname %}